.container {
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.todo {
    border: 1px solid green;
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.completed {
    border: 1px solid blue;
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
