.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
}

.todo {
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.completed {
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
